{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

<h2 class="mb-4 text-center">Transaction History</h2>

<table class="table table-striped text-center">
    <thead>
        <tr>
            <th>Type</th>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Date & Time</th>
        </tr>
    </thead>
    <tbody>
        {% for tx in transactions %}
            <tr>
                <td>
                    {% if tx["number_of_shares"] > 0 %}
                        Buy
                    {% else %}
                        Sell
                    {% endif %}
                </td>
                <td>{{ tx["symbol"] }}</td>
                <td>{{ tx["number_of_shares"] | abs }}</td>
                <td>{{ tx["price_per_share"] | usd }}</td>
                <td>{{ tx["timestamp"] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
