{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input
                autocomplete="off"
                autofocus
                class="form-control mx-auto w-auto"
                name="symbol"
                placeholder="Symbol"
                type="text"
            >
        </div>
        <button class="btn btn-primary" type="submit">Enter</button>
    </form>

    {% if stock %}
        <hr class="my-4">

        <h2>{{ stock.name }}</h2>
        <p>Symbol: {{ stock.symbol }}</p>
        <p>Price: {{ stock.price | usd }}</p>
    {% endif %}
{% endblock %}
